h2{
    text-align: center;
    color: maroon;
}

p{
    text-align: center;
    color: #5c5c5c;
}

.adcontents {
    display: flex;
    justify-content: center;
    column-gap: 25px;
    padding-bottom: 20px;
}

.REFlinks{
    text-align: center;
    justify-content: center;
    padding-bottom: 20px;
}

.REFlinks a:hover {
    color: darkgoldenrod;
}

.maincontainer {
    display: flex;
    position: relative;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    z-index: 0;
    
    padding-top: 20px;
    padding-bottom: 20px;
}

.maintext {
    padding: 2rem;
    width: 500px;
    height: 250px;
    padding-top: 0;
    padding-bottom: 20px;
    text-align: center;
}

.subimg img {
    height: 500px;
    width: auto;
    border-radius: 5px;
}

/* Media query for smaller screens */
@media (max-width: 700px) {
    
    .adpurpose {
        width: 80%;
        height: 80%;
        text-align: center;
    }

    .maincontainer {
        flex-direction: column;
    }

    h2 {
        text-align: center;
    }

    .textcontainer {
        width: 80%;
        height: 80%;
    }

    .maintext{
        text-align: center;
        width: 80%;
        height: 80%;
    }

}